<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BannerMapper">
    <resultMap id="Banner" type="com.model.global.Banner">
        <result column="banner_image" property="banner_image" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getBanners" resultType="Banner" resultMap="Banner">
        select *
        from banner
        ORDER BY reg_datetime
    </select>
</mapper>