<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">
    <select id="getBoardComments" resultType="BoardComment" parameterType="int">
        select bc.*,
               bc.no,
               bc.content,
               (select COUNT(*) from board_comment_like WHERE comment_no = bc.no) as like_count,
               (select COUNT(*) from board_comment_dislike WHERE comment_no = bc.no) as dislike_count
        from board
                 left join board_comment bc on board.no = bc.board_no
        WHERE board.no = #{board_no} and bc.recomment is null AND bc.no is not null;
    </select>
    <select id="getRecommentByCommentNo" resultType="BoardComment" parameterType="int">
        select *
        from board_comment
        where recomment = #{comment_no};
    </select>
    <select id="getBestBoardComment" parameterType="int" resultType="BoardComment">
        select board_comment.*,
               (SELECT COUNT(comment_no) AS cnt
                FROM board_comment_like
                where board_comment_like.comment_no = board_comment.no
                GROUP BY comment_no) as count
        from board_comment
        where board_no = #{board_no}
          and recomment is null
        order by count desc
        limit 1;
    </select>
</mapper>