<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ContentMapper">
    <resultMap id="Tips" type="com.model.content.tips.Tips">
        <result column="thumbnail" property="thumbnail" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <resultMap id="Manual" type="com.model.content.manual.Manual">
        <result column="thumbnail" property="thumbnail" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <resultMap id="Magazine" type="com.model.content.magazine.Magazine">
        <result column="thumbnail" property="thumbnail" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <resultMap id="Question" type="com.model.content.question.Question">
        <result column="thumbnail" property="thumbnail" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <resultMap id="QuestionSummary" type="com.model.content.question.QuestionSummary">
        <result column="question" property="question" javaType="com.model.content.question.Question"
                typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getLiveBoards" resultType="Board">
        select *
        from board
        ORDER BY reg_datetime DESC
        LIMIT 16
    </select>
    <select id="getMainTips" resultType="Tips" resultMap="Tips">
        select *
        from tips
        ORDER BY rand(), views DESC
        LIMIT 8
    </select>
    <select id="getMainManuals" resultType="Manual" resultMap="Manual">
        select *
        from manual
        ORDER BY rand(), views DESC
        LIMIT 8
    </select>
    <select id="getMainMagazines" resultType="Magazine" resultMap="Magazine">
        select *
        from magazine
        ORDER BY rand(), views DESC
        LIMIT 8
    </select>
    <select id="getMainQuestions" resultType="QuestionSummary" resultMap="QuestionSummary">
        select JSON_OBJECT(
                       'no', q.no,
                       'farm_no', q.farm_no,
                       'title', q.title,
                       'content', q.content,
                       'thumbnail', q.thumbnail) as question,
               q.reg_datetime,
               (select cl.content
                from (select question_comment.no as no, content, COUNT(qcl.user_no) as likes
                      from question_comment
                               left join question_comment_like qcl on question_comment.no = qcl.comment_no
                      WHERE question_no = q.no
                      ORDER BY likes DESC, no) as cl
                LIMIT 1)                         as best_comment,
               (select cl.no
                from (select question_comment.no as no, content, COUNT(qcl.user_no) as likes
                      from question_comment
                               left join question_comment_like qcl on question_comment.no = qcl.comment_no
                      WHERE question_no = q.no
                      ORDER BY likes DESC, no) as cl
                LIMIT 1)                         as best_comment_no
        from question as q
        ORDER BY reg_datetime DESC
        LIMIT 8
    </select>
    <select id="getBoard" parameterType="int" resultType="Board">
        select *
        from board
        where no = #{board_no};
    </select>
    <update id="updateBoardViews">
        update board
        SET views = views + 1
        WHERE board.no = #{board_no}
    </update>
    <select id="checkQuestionContentExists" resultType="_boolean">
        select EXISTS(select * from question WHERE no = #{question_no})
    </select>
    <select id="getBoards" resultType="Board">
        select *
        from board
        where farm_no = #{farm_no}
    </select>
    <select id="getFameBoards" resultType="Board">
        select *, COUNT(bl.board_no) as cnt
        from board as b
                 inner join board_like as bl on bl.board_no = b.no
        where b.farm_no = #{farm_no}
        group by bl.board_no, b.views
        order by cnt desc, b.views desc
    </select>
    <select id="getMagazine" parameterType="int" resultType="Magazine" resultMap="Magazine">
        select *
        from magazine
        where no = #{magazine_no};
    </select>
    <select id="getFameMagazines" resultType="Magazine" resultMap="Magazine">
        select *
        from magazine
        where is_show = 1
        order by views desc;
    </select>
    <select id="getQuestion" parameterType="int" resultType="Question" resultMap="Question">
        select *
        from question
        where no = #{question_no};
    </select>
    <select id="getFameQuestions" resultType="Question" resultMap="Question">
        select *, COUNT(ql.question_no) as cnt
        from question as q
                 inner join question_like as ql on ql.question_no = q.no
        where q.farm_no = #{farm_no}
        group by ql.question_no, q.views
        order by cnt desc, q.views desc
    </select>
    <select id="getQuestions" resultType="Question" resultMap="Question">
        select *
        from question
        where farm_no = #{farm_no}
    </select>
    <select id="getManual" parameterType="int" resultType="Manual" resultMap="Manual">
        select *
        from manual
        where no = #{manual_no};
    </select>
    <select id="getManuals" resultType="Manual" resultMap="Manual">
        select *
        from manual
        where farm_no = #{farm_no}
    </select>
</mapper>