<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.FarmMapper">
    <resultMap id="farm" type="com.model.farm.Farm">
        <result column="profile_image" property="profile_image" javaType="com.model.common.MFile"
                typeHandler="JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getMainFarms" resultType="Farm">
        select *
        from farm
        order by rand()
        LIMIT 8
    </select>
    <select id="getFarm" parameterType="int" resultType="boolean">
        SELECT EXISTS(SELECT * FROM farm WHERE user_no = #{user_no});
    </select>
    <insert id="insertFarm" parameterType="Farm" keyProperty="no" useGeneratedKeys="true">
        insert into farm(user_no, `name`, type,
                         profile_image, farm_image,
                         `description`)
        values (#{user_no}, #{name}, #{type},
                #{profile_image, typeHandler=JsonObjectTypeHandler},
                #{farm_image, typeHandler=JsonObjectTypeHandler},
                #{description});
    </insert>
    <select id="getFarmByUserNo" parameterType="int" resultType="Farm" resultMap="farm">
        select *
        from farm
        where user_no = #{user_no}
    </select>
</mapper>