<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LikeMapper">
    <select id="getLikesByBoardNo" parameterType="int" resultType="BoardTransaction">
        select *
        from board_like
        where board_no = #{board_no};
    </select>
    <select id="getLikesByMagazineNo" parameterType="int" resultType="MagazineTransaction">
        select *
        from magazine_like
        where magazine_no = #{magazine_no};
    </select>
    <select id="getLikesByQuestionNo" parameterType="int" resultType="QuestionTransaction">
        select *
        from question_like
        where question_no = #{question_no};
    </select>
    <select id="getLikesByManualNo" parameterType="int" resultType="ManualTransaction">
        select *
        from manual_like
        where manual_no = #{manual_no};
    </select>
    <select id="getLikesByTipsNo" parameterType="int" resultType="TipsTransaction">
        select *
        from tips_like
        where tips_no = #{tips_no};
    </select>
    <select id="isBoardLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_like
                          WHERE board_no = #{board_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isMagazineLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM magazine_like
                          WHERE magazine_no = #{magazine_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isQuestionLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM question_like
                          WHERE question_no = #{question_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isManualLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM manual_like
                          WHERE manual_no = #{manual_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isTipLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM tips_like
                          WHERE tips_no = #{tip_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentBoardLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentMagazineLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM magazine_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentQuestionLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM question_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentManualLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM manual_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentTipsLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM tips_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentFarmLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM farm_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentBoardDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentMagazineDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM magazine_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentQuestionDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM question_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentManualDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM manual_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentTipsDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM tips_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentFarmDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM farm_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <insert id="insertBoardLike">
        insert into board_like(board_no, user_no)
        VALUES (#{board_no}, #{user_no});
    </insert>
    <insert id="insertMagazineLike">
        insert into magazine_like(magazine_no, user_no)
        VALUES (#{magazine_no}, #{user_no});
    </insert>
    <insert id="insertQuestionLike">
        insert into question_like(question_no, user_no)
        VALUES (#{question_no}, #{user_no});
    </insert>
    <insert id="insertManualLike">
        insert into manual_like(manual_no, user_no)
        VALUES (#{manual_no}, #{user_no});
    </insert>
    <insert id="insertTipLike">
        insert into tips_like(tips_no, user_no)
        VALUES (#{tip_no}, #{user_no});
    </insert>
    <delete id="deleteBoardLike">
        delete
        from board_like
        where board_no = #{board_no}
          and user_no = #{user_no};
    </delete>
    <delete id="deleteMagazineLike">
        delete
        from magazine_like
        where magazine_no = #{magazine_no}
          and user_no = #{user_no};
    </delete>
    <select id="deleteQuestionLike">
        delete
        from question_like
        where question_no = #{question_no}
          and user_no = #{user_no};
    </select>
    <select id="deleteManualLike">
        delete
        from manual_like
        where manual_no = #{manual_no}
          and user_no = #{user_no};
    </select>
    <select id="deleteTipLike">
        delete
        from tips_like
        where tips_no = #{tip_no}
          and user_no = #{user_no};
    </select>
    <delete id="deleteBoardCommentLike">
        delete
        from board_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteMagazineCommentLike">
        delete
        from magazine_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteQuestionCommentLike">
        delete
        from question_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteManualCommentLike">
        delete
        from manual_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteTipsCommentLike">
        delete
        from tips_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteFarmCommentLike">
        delete
        from farm_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteBoardCommentDislike">
        delete
        from board_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteMagazineCommentDislike">
        delete
        from magazine_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteQuestionCommentDislike">
        delete
        from question_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteManualCommentDislike">
        delete
        from manual_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteTipsCommentDislike">
        delete
        from tips_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteFarmCommentDislike">
        delete
        from farm_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <insert id="insertBoardCommentLike">
        insert into board_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertMagazineCommentLike">
        insert into magazine_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertQuestionCommentLike">
        insert into question_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertManualCommentLike">
        insert into manual_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertTipsCommentLike">
        insert into tips_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertFarmCommentLike">
        insert into farm_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertBoardCommentDislike">
        insert into board_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertMagazineCommentDislike">
        insert into magazine_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertQuestionCommentDislike">
        insert into question_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertManualCommentDislike">
        insert into manual_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertTipsCommentDislike">
        insert into tips_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertFarmCommentDislike">
        insert into farm_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <select id="getLikesByComment" parameterType="Comment" resultType="int">
        <choose>
            <when test='type.name().equals("BOARD")'>
                select COUNT(*) from board_comment_like where comment_no=#{no}
            </when>
            <when test='type.name().equals("QUESTION")'>
                select COUNT(*) from question_comment_like where comment_no=#{no}
            </when>
            <when test='type.name().equals("TIP")'>
                select COUNT(*) from tips_comment_like where comment_no=#{no}
            </when>
            <when test='type.name().equals("MANUAL")'>
                select COUNT(*) from manual_comment_like where comment_no=#{no}
            </when>
            <when test='type.name().equals("FARM")'>
                select COUNT(*) from farm_comment_like where comment_no=#{no}
            </when>
        </choose>
    </select>
    <select id="getDislikesByComment" parameterType="Comment" resultType="int">
        <choose>
            <when test='type.name().equals("BOARD")'>
                select COUNT(*) from board_comment_dislike where comment_no=#{no}
            </when>
            <when test='type.name().equals("QUESTION")'>
                select COUNT(*) from question_comment_dislike where comment_no=#{no}
            </when>
            <when test='type.name().equals("TIP")'>
                select COUNT(*) from tips_comment_dislike where comment_no=#{no}
            </when>
            <when test='type.name().equals("MANUAL")'>
                select COUNT(*) from manual_comment_dislike where comment_no=#{no}
            </when>
            <when test='type.name().equals("FARM")'>
                select COUNT(*) from farm_comment_dislike where comment_no=#{no}
            </when>
        </choose>
    </select>
</mapper>