<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LikeMapper">
    <select id="getLikesByBoardNo" parameterType="int" resultType="BoardTransaction">
        select *
        from board_like
        where board_no = #{board_no};
    </select>
    <select id="isBoardLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_like
                          WHERE board_no = #{board_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentLikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_comment_like
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <select id="isCommentDislikeByUserNo" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM board_comment_dislike
                          WHERE comment_no = #{comment_no}
                            and user_no = #{user_no}), true, false)
    </select>
    <insert id="insertBoardLike">
        insert into board_like(board_no, user_no)
        VALUES (#{board_no}, #{user_no});
    </insert>
    <delete id="deleteBoardLike">
        delete
        from board_like
        where board_no = #{board_no}
          and user_no = #{user_no};
    </delete>
    <delete id="deleteBoardCommentLike">
        delete
        from board_comment_like
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <delete id="deleteBoardCommentDislike">
        delete
        from board_comment_dislike
        where comment_no = #{comment_no}
          and user_no = #{user_no}
    </delete>
    <insert id="insertBoardCommentLike">
        insert into board_comment_like(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
    <insert id="insertBoardCommentDislike">
        insert into board_comment_dislike(comment_no, user_no)
        VALUES (#{comment_no}, #{user_no});
    </insert>
</mapper>