<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SearchKeywordMapper">
    <resultMap id="SearchKeyword" type="com.model.global.keyword.SearchKeyword">
        <result column="keywords" property="keywords" typeHandler="StringArrayListTypeHandler"/>
    </resultMap>
    <select id="getSearchKeywords" resultType="string">
        select keywords
        from search_keyword
        WHERE type = 'SEARCH'
    </select>
    <select id="getRecommendKeywords" resultType="string">
        select keywords
        from search_keyword
        WHERE type = 'RECOMMEND'
    </select>
    <select id="getAllKeywords" resultType="SearchKeyword" resultMap="SearchKeyword">
        select *
        from search_keyword
    </select>
    <update id="updateSearchKeyword">
        update search_keyword
        SET keywords = #{keywords, typeHandler=StringArrayListTypeHandler}
        WHERE type = #{type}
    </update>
</mapper>