<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TraceMapper">
    <resultMap id="Trace" type="com.model.farm.trace.Trace">
        <result property="entity" column="entity" javaType="com.model.farm.trace.TraceEntity"
                typeHandler="JsonObjectTypeHandler"/>
        <result property="breed" column="breed" javaType="com.model.farm.trace.TraceBreed"
                typeHandler="JsonArrayObjectTypeHandler"/>
        <result property="butchery" column="butchery" javaType="com.model.farm.trace.TraceButchery"
                typeHandler="JsonArrayObjectTypeHandler"/>
        <result property="process" column="process" javaType="com.model.farm.trace.TraceProcess"
                typeHandler="JsonArrayObjectTypeHandler"/>
    </resultMap>
    <select id="getFarmTraces" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE farm_no = #{farm_no}
    </select>
    <select id="isCodeExists" resultType="_boolean">
        select EXISTS(select * from trace WHERE trace_code = #{code})
    </select>
    <insert id="registerTrace" useGeneratedKeys="true" keyProperty="no">
        insert into trace(farm_no, trace_code, entity, breed, butchery, process) VALUE (#{farm_no}, #{trace_code},
                                                                                        #{entity, typeHandler=JsonArrayObjectTypeHandler},
                                                                                        #{breed, typeHandler=JsonArrayObjectTypeHandler},
                                                                                        #{butchery, typeHandler=JsonArrayObjectTypeHandler},
                                                                                        #{process, typeHandler=JsonArrayObjectTypeHandler})
    </insert>
    <delete id="deleteTrace">
        delete
        from trace
        WHERE no = #{no}
    </delete>
    <select id="getTraceByNo" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE no = #{no}
    </select>
    <select id="getTraceByCode" resultType="Trace" resultMap="Trace">
        select * from trace WHERE trace_code = #{code}
    </select>
</mapper>