<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TraceMapper">
    <resultMap id="Trace" type="com.model.farm.trace.Trace">
        <result property="entity" column="entity" javaType="com.model.farm.trace.TraceEntity"
                typeHandler="JsonObjectTypeHandler"/>
        <result property="breed" column="breed" javaType="com.model.farm.trace.TraceBreed"
                typeHandler="JsonArrayObjectTypeHandler"/>
        <result property="butchery" column="butchery" javaType="com.model.farm.trace.TraceButchery"
                typeHandler="JsonArrayObjectTypeHandler"/>
        <result property="process" column="process" javaType="com.model.farm.trace.TraceProcess"
                typeHandler="JsonArrayObjectTypeHandler"/>
        <result property="vaccine" column="vaccine" javaType="com.model.farm.trace.TraceVaccine"
                typeHandler="JsonObjectTypeHandler"/>
    </resultMap>
    <select id="getFarmTraces" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE farm_no = #{farm_no}
    </select>
    <select id="isCodeExists" resultType="_boolean">
        select EXISTS(select * from trace WHERE trace_code = #{code})
    </select>
    <insert id="registerTrace" useGeneratedKeys="true" keyProperty="no">
        insert into trace(farm_no, trace_code, entity, breed, butchery, process, vaccine, other_info) VALUE (#{farm_no},
                                                                                                             #{trace_code},
                                                                                                             #{entity, typeHandler=JsonObjectTypeHandler},
                                                                                                             #{breed, typeHandler=JsonArrayObjectTypeHandler},
                                                                                                             #{butchery, typeHandler=JsonArrayObjectTypeHandler},
                                                                                                             #{process, typeHandler=JsonArrayObjectTypeHandler},
                                                                                                             #{vaccine, typeHandler=JsonObjectTypeHandler},
                                                                                                             #{other_info})
    </insert>
    <delete id="deleteTrace">
        delete
        from trace
        WHERE no = #{no}
    </delete>
    <select id="getTraceByNo" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE no = #{no}
    </select>
    <select id="getTraceByCode" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE trace_code = #{code}
    </select>
    <select id="getTracePage" resultType="Trace" resultMap="Trace">
        select *
        from trace
        WHERE no = #{trace_no}
    </select>
    <update id="editTrace">
        update trace
        SET entity           = #{entity, typeHandler=JsonObjectTypeHandler},
            breed            = #{breed, typeHandler=JsonArrayObjectTypeHandler},
            butchery         = #{butchery, typeHandler=JsonArrayObjectTypeHandler},
            process          = #{process, typeHandler=JsonArrayObjectTypeHandler},
            vaccine          = #{vaccine, typeHandler=JsonObjectTypeHandler},
            other_info       = #{other_info},
            updated_datetime = now()
        WHERE no = #{no}
    </update>
    <select id="getAllTraces" resultType="Trace" resultMap="Trace">
        select *
        from trace
        ORDER BY reg_datetime DESC
    </select>
</mapper>