<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <resultMap id="user" type="com.model.User">
        <result column="agree" property="agree" javaType="com.model.Agree"
                typeHandler="JsonObjectTypeHandler"/>
    </resultMap>
    <select id="isRegistered" parameterType="String" resultType="boolean">
        SELECT IF(EXISTS(
                          SELECT *
                          FROM user
                          WHERE id = #{id}), true, false)
    </select>
    <insert id="register" useGeneratedKeys="true" keyProperty="no" parameterType="User">
        insert into user(id, `name`, agree, email, marketing_agree, marketing_agree_date, community_kakao_alarm,
                         community_email_alarm, comment_kakao_alarm, comment_email_alarm, service_kakao_alarm,
                         service_email_alarm)
        VALUES (#{id}, #{name}, #{agree, typeHandler=JsonObjectTypeHandler}, #{email},
                #{agree.marketing_agree}, now(),
                #{agree.community_kakao_alarm}, #{agree.community_email_alarm},
                #{agree.comment_kakao_alarm}, #{agree.comment_email_alarm},
                #{agree.service_kakao_alarm}, #{agree.service_email_alarm})
    </insert>
    <update id="updateUser" parameterType="User">
        update user
        set `name`=#{name},
            email=#{email},
            agree=#{agree, typeHandler=JsonObjectTypeHandler}
        where id = #{id}
    </update>
    <select id="getUserById" parameterType="String" resultType="User" resultMap="user">
        select *
        from user
        where id = #{id};
    </select>
    <select id="getUserByNo" parameterType="int" resultType="User" resultMap="user">
        select *
        from user
        where no = #{user_no}
    </select>
    <delete id="unregister" parameterType="int">
        delete
        from user
        where no = #{user_no};
    </delete>
    <update id="updateAgree" parameterType="User">
        update user
        set agree=#{agree, typeHandler=JsonObjectTypeHandler}
        where no = #{no}
    </update>
    <select id="getFarmUsers" resultType="User" resultMap="user">
        select *
        from user
        WHERE EXISTS(select * from farm WHERE farm.user_no = user.no)
    </select>
</mapper>