/** Modal */
body.general-modal-open {
    overflow: hidden;
}

body .general-modal {
    padding-right: 0 !important;
}

.alert {
    position: fixed;
    z-index: 11;
    bottom: 120px;
    left: 50%;

    transform: var(--translate-lr-center);

    margin-bottom: 0;

    border: none;
    border-radius: var(--radius-5);
}

.modal .modal-header {
    padding: 24px;
    border-bottom: none;
}

.modal .modal-body {
    padding: 0 24px;
}

.modal .modal-footer {
    padding: 24px;
    border-top: none;
}

.modal .modal-footer button {
    min-width: 124px;
}

.modal-dialog-lg, .modal-xl {
    max-width: 540px;
}

.modal-name-change._preview-img {
    padding-top: 16px;
    width: 100%;
    padding-top: 40%;
    margin-top: 16px;
}

.modal-md-max {
    max-width: 90%;
}

@media (min-width: 992px) {
    .modal-md-max {
        max-width: 900px;
    }

    .modal-lg, .modal-xl {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .modal-md-max {
        max-width: 900px;
    }

    .modal-lg, .modal-xl {
        max-width: 900px;
    }
}
