.right-container {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
}

.left-sidebar-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: auto;
}

.left-sidebar-container .left-side-inner {
    position: initial;
}

.left-sidebar-container .user-info {
    margin-bottom: 80px;
}

.right-container {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
}

._left-tabs {
    display: none;
}

@media (max-width: 767px) {
    .res-empty-text {
        margin-top: 24px;
    }

    #tab-trace ._traces .mt-32 {
        margin-top: 24px;
    }

    #tab-trace ._traces ._trace:first-child {
        margin-top: 0;
    }

    #tab-trace ._traces ._trace:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .right-container .row-cols-3 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .left-sidebar-container {
        max-width: 342px;
    }

    .left-sidebar-container ._left-tabs {
        display: block;
    }

    .left-sidebar-container .left-side-inner {
        position: sticky;
        top: calc(66px + 80px);
    }

    .left-sidebar-container .user-info {
        margin-bottom: 0;
    }

    .right-container {
        max-width: calc(100% - 342px);
        width: 100%;
        flex: 0 0 calc(100% - 342px);
    }
}

@media (min-width: 1200px) {
    .right-container .row-cols-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .community-sub-container {
        margin-top: 0;
    }
}
