.right-container {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
}

.left-sidebar-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: auto;
}

.left-sidebar-container .left-side-inner {
    position: initial;
}

.left-sidebar-container .user-info {
    margin-bottom: 80px;
}

.right-container {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
}

._left-tabs {
    display: none;
}

.board-write-container .mobile-button-container {
    display: none;
}

@media (max-width: 767px) {
    #content-wrapper .community-detail-container .section.sm-section {
        margin-top: 24px;
        margin-bottom: 24px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .community-container-deck {
        margin: -12px;
    }

    .community-container-deck .col.p-8 {
        padding: 12px;
    }

    .community-container ._detail ._desc * {
        font-size: var(--font-20) !important;
    }

    ._community-module ._title {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    ._comment ._media ._comment-text > * {
        font-size: var(--font-16);
        line-height: var(--line-24);
    }

    ._related-board-list ._related-board-container {
        padding: 16px;
    }

    ._related-board-list ._related-board-container span {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    .community-container ._detail ._title ._right-option {
        top: 14px;
    }

    .community-container ._detail ._title ._right-option > svg {
        width: 24px;
        height: 24px;
    }

    .community-container ._detail ._title {
        font-size: var(--font-28);
        line-height: var(--line-28);
    }

    .community-container ._comments {
        padding: 16px 24px;
    }

    .community-container ._detail {
        padding: 24px;
    }

    .right-container .community-container-deck {
        margin: -12px;
    }

    .right-container .community-container-deck .col.p-8 {
        padding: 12px;
    }

    .board-write-container {
        border: none;
    }

    .board-write-container ._header ._preview {
        margin-bottom: 0;
    }

    .board-write-container ._header._input-header {
        border-top: none;
    }

    .board-write-container ._content {
        padding-left: 0;
        padding-right: 0;
    }

    .board-write-container ._header {
        padding-left: 0;
        padding-right: 0;
    }

    .board-write-container .mobile-button-container {
        margin-top: 24px;
        text-align: right;
        display: block;
    }

    .board-write-container .mobile-button-container button {
        min-width: 100px;
    }

    .board-write-container ._header button {
        display: none;
    }

    .right-container ._section:not(._my-comment) ._title-container span,
    .right-container ._section:not(._my-comment) ._title-container {
        display: block;
    }

    .right-container ._section:not(._my-comment) ._title-container span {
        margin-bottom: 16px;
    }

    .right-container ._section ._title-container .dropdown {
        display: inline-block;
    }

    .right-container ._writer-board .community-container-deck {
        margin: -12px;
    }

    .right-container ._writer-board .community-container-deck .col.p-8 {
        padding: 12px;
    }

    .right-container ._section ._title-container span {
        font-size: var(--font-24);
        line-height: var(--line-32);
    }

    .farm-detail ._info-container ._title ._edit {
        top: calc(50%);
    }

    #content-wrapper ._detail-banner ._edit {
        right: 24px;
        bottom: 24px;
    }

    .farm-detail ._desc .summernote-inner-container {
        right: 0;
    }

    .farm-detail ._info-container .bold-subtitle {
        font-size: var(--font-32);
        line-height: var(--line-40);
    }

    .farm-detail ._info-container .medium-h3 {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    #content-wrapper .farm-detail {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #content-wrapper .farm-detail .tab-content ._manual-deck {
        margin: -12px;
    }

    #content-wrapper .farm-detail .tab-content ._manual-deck > .col.p-8 {
        padding: 12px;
    }

    .farm-detail ._desc {
        max-width: 100%;
    }

    #content-wrapper ._detail-banner {
        padding-top: 254px;
    }

    #content-wrapper ._detail-banner ._profile-image {
        width: 150px;
        height: 150px;
    }

    .community-mobile-container .filter-dropdown-container {
        margin-left: -24px;
        margin-right: -24px;
        border-bottom: var(--border-1px) var(--gray-high-light);
        margin-bottom: 24px;
    }

    .community-mobile-container .filter-dropdown-container .dropdown-menu {
        width: 100% !important;
        position: fixed !important;
        left: 0 !important;
        top: 116px !important;
        margin-top: 0;
        margin-bottom: 0;
        border-left: none;
        border-right: none;
        transform: none !important;
    }

    .community-mobile-container .filter-dropdown-container .dropdown.input-dropdown .dropdown-menu a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .community-mobile-container [data-toggle="dropdown"].form-group.form-inner-button {
        min-width: initial;
        max-width: initial;
        width: auto;
    }

    .community-mobile-container .right-filter-dropdown-container {
        margin-left: 0;
        margin-right: 0;
    }

    .community-mobile-container .form-group.form-inner-button.form-sm svg {
        right: 24px;
    }

    .community-mobile-container .card-container-deck,
    .community-mobile-container .community-container-deck {
        margin: -12px;
    }

    .community-mobile-container .card-container-deck .p-8,
    .community-mobile-container .community-container-deck .p-8 {
        padding: 12px;
    }

    .community-mobile-container .community-container-deck .card.community-card,
    .community-mobile-container .community-container-deck .card.farm-card {
        min-height: fit-content;
    }

    .community-mobile-container .form-group.form-inner-button input.dropdown-input:disabled,
    .community-mobile-container .form-group.form-inner-button input.dropdown-input,
    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-gray input,
    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-green input {
        background-color: var(--basic-white);
        color: var(--gray-dark-low);
        border: none;
        padding: 16px 24px;
    }

    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-green input {
        width: 140px;
    }

    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-gray input {
        border-left: var(--border-1px) var(--gray-high-light);
        border-right: var(--border-1px) var(--gray-high-light);
    }

    .community-mobile-container .form-group.form-inner-button input.dropdown-input:disabled,
    .community-mobile-container .form-group.form-inner-button .dropdown-input svg *,
    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-gray svg *,
    .community-mobile-container .filter-dropdown-container .form-group.form-inner-button.form-md.form-green svg * {
        fill: var(--gray-dark-low);
    }

    .community-mobile-container .filter-dropdown-container > .dropdown:not(:first-of-type) {
        margin-left: 0;
    }

    .community-mobile-container {
        min-height: 100vh;
        padding-bottom: 24px;
    }

    #content-wrapper .community-mobile-container .section {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .community-mobile-container .section-title ._title,
    .community-mobile-container .section-title ._desc {
        display: none;
    }

    .form-group > label {
        font-size: var(--font-16);
        line-height: var(--line-24);
    }

    .mobile-login-container .bold-subtitle {
        font-size: var(--font-36);
        line-height: var(--line-52);
    }

    .mobile-login-container > .regular-h4 {
        font-size: var(--font-16);
        line-height: var(--line-24);
    }

    .register-container ._info {
        margin-top: 32px;
    }

    .register-container ._info .bold-title {
        font-size: var(--font-32);
        line-height: var(--line-40);
    }

    .register-container ._info:first-of-type {
        margin-top: 36px;
    }

    .register-container ._info {
        margin-bottom: 24px;
    }

    .res-empty-text {
        margin-top: 24px;
    }

    #tab-trace ._traces .mt-32 {
        margin-top: 24px;
    }

    #tab-trace ._traces ._trace:first-child {
        margin-top: 0;
    }

    #tab-trace ._traces ._trace:not(:last-child) {
        margin-bottom: 0;
    }
}

#content-wrapper .mypage-container .section.sm-section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.left-sidebar-container .user-info ._info {
    border-top: none;
}

@media (min-width: 768px) {
    .mypage-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .right-container .row-cols-3 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .mypage-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .left-sidebar-container .user-info ._info {
        border-top: var(--border-1px) var(--gray-high-light);
    }

    #content-wrapper .mypage-container .section.sm-section {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .left-sidebar-container {
        max-width: 342px;
    }

    .left-sidebar-container ._left-tabs {
        display: block;
    }

    .left-sidebar-container .left-side-inner {
        position: sticky;
        top: calc(66px + 80px);
    }

    .left-sidebar-container .user-info {
        margin-bottom: 0;
    }

    .right-container {
        max-width: calc(100% - 342px);
        width: 100%;
        flex: 0 0 calc(100% - 342px);
    }
}

@media (min-width: 1200px) {
    .right-container .row-cols-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .community-sub-container {
        margin-top: 0;
    }
}
