.row-cols-2 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

#content-wrapper ._content-banner ._top-text {
    font-size: 1.667vw;
    line-height: 1.1;
    display: block;
}

#content-wrapper ._content-banner ._middle-text {
    font-size: 5vw;
    line-height: 1.1;
}

#content-wrapper ._content-banner ._bottom-text {
    font-size: 1.042vw;
    line-height: 1.5;
    display: block;
}

#content-wrapper ._content-banner ._text-container {
    width: 80%;
    left: 50%;
    transform: var(--translate-center);
}

@media (max-width: 767px) {
    #header-back-theme {
        height: auto;
    }

    #header-back-theme .navbar {
        padding: 22px 24px;
    }

    #header-back-theme .navbar > * {
        margin-top: auto;
        margin-bottom: auto;
    }

    #header-back-theme .navbar-brand svg {
        width: 28px;
        height: 28px;
    }

    #header-back-theme .nav-link {
        padding: 0;
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    #tab-trace .bold-h1 {
        font-size: var(--font-28);
        line-height: var(--line-36);
        text-align: left !important;
    }

    #tab-trace .medium-h4 {
        font-size: var(--font-16);
        line-height: var(--line-24);
        text-align: left !important;
    }

    #tab-trace br {
        display: none;
    }

    #tab-trace ._traces ._trace .bold-h2 {
        font-size: var(--font-24);
        line-height: var(--line-32);
    }

    #bottom-tab ul.list-group li.list-group-item {
        padding: 8px;
    }

    #bottom-tab ul.list-group li.list-group-item svg {
        width: 24px;
        height: 24px;
    }

    #bottom-tab ul.list-group li.list-group-item span {
        font-size: var(--font-12);
        line-height: var(--line-16);
    }

    #footer {
        padding: 24px;
    }

    #footer .container {
        padding-left: 0;
        padding-right: 0;
    }

    #footer [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #footer [class*="row"] {
        margin-left: 0;
        margin-right: 0;
    }

    #tab-search label {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    #tab-search ._buttons button {
        margin-top: 8px;
        font-size: var(--font-16);
        line-height: var(--line-24);
    }

    #tab-search ._buttons button:not(:last-child) {
        margin-right: 8px;
    }

    #tab-search ._buttons {
        margin-top: 0;
        white-space: normal;
    }

    #tab-search .list-group .list-group-item svg {
        display: block;
    }

    #header-right-sidebar ul.list-group li.list-group-item {
        padding: 16px;
    }

    #tab-search {
        top: calc(66px + 24px);
        left: 24px !important;
        width: calc(100% - 48px);
        min-width: initial;
    }

    #header-right-sidebar {
        width: 50%;
    }

    #header-left-sidebar {
        width: 50%;
    }

    #header-left-sidebar .card-body > div {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    .section-title ._title button.btn-brand {
        display: none;
    }

    #content-wrapper ._content-banner ._bottom-text {
        font-size: 16px;
    }

    #content-wrapper ._content-banner ._top-text {
        font-size: 16px;
    }

    #content-wrapper ._content-banner {
        padding-top: 60%;
    }

    .owl-carousel .owl-stage-outer {
        overflow: initial !important;
    }

    .owl-carousel .owl-stage {
        transform: none !important;
        width: 100% !important;
        display: block !important;
    }

    .owl-carousel.owl-drag .owl-item:not(:first-child) {
        margin-top: 24px;
    }

    .owl-carousel.owl-drag .owl-item {
        margin-right: 0 !important;
        width: 100% !important;
    }

    .owl-carousel .card.community-card {
        height: min-content;
        min-height: fit-content;
    }

    .right-container .card.community-card {
        height: min-content;
        min-height: fit-content;
    }

    .owl-carousel .card.farm-card {
        height: min-content;
    }

    .section-title ._desc {
        font-size: var(--font-20);
        line-height: var(--line-28);
    }

    .section-title ._title {
        font-size: var(--font-32);
        line-height: var(--line-40);
    }

    #content-wrapper .banner-section ._recommend-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    #content-wrapper .banner-section ._recommend span:nth-of-type(2) {
        padding-right: 0;
    }

    #content-wrapper .banner-section ._recommend svg {
        display: none;
    }

    #content-wrapper .banner-section ._recommend {
        padding: 16px;
        font-size: var(--font-16);
        line-height: var(--line-24);
    }
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}

@media (min-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header .navbar ._navbar-left .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    #content-wrapper ._detail-banner ._profile-image {
        width: 160px;
        height: 160px;
    }

    #content-wrapper ._detail-banner {
        padding-top: 40%;
    }

    .row-cols-4 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #content-wrapper .banner-section ._recommend {
        padding: 24px;
    }

    #content-wrapper .banner-section ._recommend svg {
        width: 123px;
        height: 123px;
    }

    #content-wrapper .banner-section ._recommend.bold-h4 {
        font-size: var(--font-16);
        line-height: var(--line-24);
    }

    #content-wrapper .section {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    #content-wrapper .banner-section {
        margin-bottom: calc(22px + 46px);
    }
}

@media (min-width: 992px) {
    #content-wrapper ._content-banner ._top-text {
        display: block;
    }

    #header-back-theme {
        display: none;
    }

    #bottom-tab {
        display: none;
    }

    #content-wrapper ._content-banner ._recommend {
        padding: 32px;
    }

    #content-wrapper ._content-banner ._recommend svg {
        width: 133px;
        height: 133px;
    }

    #content-wrapper ._content-banner ._recommend.bold-h4 {
        line-height: var(--line-28);
        font-size: var(--font-20);
    }

    #content-wrapper .section {
        padding-top: 44px;
        padding-bottom: 44px;
    }

    #content-wrapper .banner-section {
        margin-bottom: calc(44px + 46px);
    }
}

@media (min-width: 963px) {
    .row-cols-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    #content-wrapper ._content-banner ._bottom-text {
        display: block;
    }

    #header .navbar ._navbar-left .nav-item:not(:last-child) {
        margin-right: 58px;
    }

    #content-wrapper .section {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    #content-wrapper ._detail-banner ._profile-image {
        width: 220px;
        height: 220px;
    }

    #content-wrapper ._detail-banner {
        padding-top: 21%;
    }

    .row-cols-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
